@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
     display: none;
}

.bd::-webkit-scrollbar{
    display: none;
}

@layer utilities {
  .circle {
    width: 1.1rem;
    height: 1.1rem;
    background: #D4AF37;
    border-radius: 50%;
    border: none;
  }
 .btn {
    position: relative;
    overflow: hidden;
    border: none;
    z-index: 1;
    transition: color 0.4s ease;
  }
  
  .btn::before,
    .btn::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    z-index: -1;
    transition: width 0.4s ease;
  }
  
  /* left side */
  .btn::before {
    left: 0;
  }
  
  /* right side */
  .btn::after {
    right: 0;
  }
  
  .btn:hover {
    color: #D4AF37;
  }
  
  .btn:hover::before,
    .btn:hover::after {
    width: 50%;
  }
  
  .btn2::after {
    left: -35%;
    height: 100%;
    transform: skew(50deg);
    width: 0;
    background-color: #000;
    z-index: -1;
    transition: width 0.4s ease;
  }
  
  .btn2:hover::after {
    height: 100%;
    width: 160%;
  }

 /* TEXT WRAPPER */
  .btn-text {
    position: relative;
    z-index: 2;
  }
  
  /* SHINE EFFECT */
  .btn-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(
    120deg,
    transparent 30%,
    rgba(255, 255, 255, 0.5),
    transparent 70%
    );
    opacity: 0;
  }
  
  /* Trigger shine AFTER fill */
  .btn:hover .btn-text::after {
    animation: shine 1.5s ease forwards;
    animation-delay: 0.45s;
  }
  
    @keyframes shine {
    from {
      left: -120%;
      opacity: 0;
    }
    
    to {
      left: 120%;
      opacity: 1;
    }
  }

}